body {
	position: relative;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	min-width: 768px;

	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);	
	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
a {
	font-size: 14px;
	line-height: 26px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	text-decoration: none;
}
.visually-hidden {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
.main-menu {
	position: relative;
	color: rgb(255, 255, 255);
	background-color: rgb(255, 255, 255);
}
.logo img {
	position: absolute;
	width: 138px;
	height: 70px;
	left: 50%;
	margin: 0px;

	-webkit-transform: translate(-50%);

	    -ms-transform: translate(-50%);

	        transform: translate(-50%);
	z-index: 10;
}
.navigation-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	-ms-flex-wrap: wrap;	
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	
	margin: 0;
	padding: 0;
}
.navigation-menu li {
	width: 20%;
	padding: 15px 0;

	list-style: none;
}
.navigation-menu a {
	font-stretch: ultra-condensed;
	font-weight: bold;
}
.navigation-menu li:nth-child(4n-3) {
	padding-left: 6%;
}
.navigation-menu li:nth-child(4n+4) {
	padding-right: 6%;
}
.navigation-menu li:nth-child(4n+2) {
	margin-right: 8%;
}
.navigation-menu li:nth-child(4n-3),
.navigation-menu li:nth-child(4n+2) {
	text-align: left;
}
.navigation-menu li:nth-child(4n+3),
.navigation-menu li:nth-child(4n+4) {
	text-align: right;
}
.main-menu a:hover {
	color: rgb(129, 179, 210);
}
.main-menu a:active {
	color: rgb(0, 0, 0);
	opacity: 0.3;
}
.main-menu img:hover,
.main-menu a:active {
	opacity: 1;
}
.active-brown a {
	color: rgb(118, 99, 87);
}
.mountains-with-text{
	width: 100%;
	height: 508px;
	
	background: rgb(173, 189, 201);
}
.intro {
	margin: 0 auto;
	line-height: 26px;
    color: rgb(51, 51, 51);
    text-align: center;
       
    background-color: rgb(255, 255, 255);
}
.intro h2 {
	font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-top: 60px;
}
.intro p {
	padding-top: 9px;
	margin-bottom: 50px;
	color: rgb(51, 51, 51);
}
.advantages {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	vertical-align: middle;

	width: 100%;
	
	background-color:  rgb(255, 255, 255);
}
.advantages-item {
	width: 33%;
	padding: 65px 50px;

	text-align: center;

	background: rgb(255, 255, 255);
}
.bg-white p {
	line-height: 1.5;
}
.burger {
	position: relative;
	bottom: 2px;
	right: 4px;	
}
.housing {
	position: relative;
	bottom: 4px;
	left: 1px;
}
.souvenirs {
	position: relative;
	bottom: 7px;
	left: 1px;
}
.housing-title {
	position: relative;
	bottom: 3px;
	margin-bottom: 18px;
}
.food-title {
	position: relative;
	right: 5px;
	top: 1px;
	margin-bottom: 21px;
	margin-left: 12px;
}
.souvenirs-title {
	position: relative;
	bottom: 6px;
	left: 1px;
	margin-bottom: 15px;
}
.wrapper-first {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 100%;
	margin: 0 auto;
}
.text-namber-left {
	width: 33.3%;
	height: auto;
	
	text-align: center;
	color: rgb(255, 255, 255);
	
	background: rgb(129, 179, 210);
}
.text-namber-left h2 {
	padding-left: 2px;	
	padding-top: 29px;
	padding-bottom: 6px;

	line-height: 1;
}
.text-namber-left p {
	padding-top: 5px;
	padding-left: 49px;
	padding-right: 49px;

	line-height: 1.5;
}
.picture-right {
	width: 66.7%;
	height: 256px;

	background: rgb(96, 90, 66) url("../img/city.jpg");
}
.wrapper-second {
	display: -webkit-box;
	display: -ms-flexbox;

	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	vertical-align: middle;
}
.wrapper-grey {
	width: 100%;
	height: 256px;
	margin: 0 auto;

	display: -webkit-box;
	display: -ms-flexbox;

	display: flex;
	vertical-align: middle;
	text-align: center;
}
.bg-grey {
	position: relative;
	width: 33.33%;
	height: auto;
	padding-top: 30px;
	line-height: 1;

	background: rgb(238, 238, 238);
	z-index: 14;
}
.bg-grey h2 {
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 8px;
	text-align: center;
}
.bg-grey p {
	margin-top: 25px;
	line-height: 1.5;
}
.wrapper-third {
	width: 100%;
	margin: 0 auto;

	display: -webkit-box;
	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.picture-left {
	width: 66.7%;
	height: 256px;

	background: rgb(136, 96, 79) url("../img/bridge.jpg");
}
.text-namber-right {
	width: 33.3%;

	text-align: center;

	color: rgb(255, 255, 255);
	background: rgb(129, 179, 210);
}
.text-namber-right h2 {
	padding-top: 32px;
	padding-bottom: 4px;
	padding-left: 60px;
	padding-right: 60px;

	line-height: 1;
}
.text-namber-right p {
	padding-top: 5px;
	margin-bottom: 60px;
	margin-right: 40px;
	margin-left: 40px;
	
	line-height: 1.5;
}
.search-hotels {
	position: relative;

	text-align: center;
	background-color: rgb(255, 255, 255);
	padding-top: 53px;

	z-index: 15;
}
.search-hotels h3 {
	margin-top: -5px;
	margin-bottom: 24px;

	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
}
.search-hotels p {
	margin-bottom: 47px;
	line-height: 1.8;

}
.btn-search-hotel {
	display: inline-block;
	margin: 0 auto;
	width: 510px;
	padding: 30px;
			
	font-family: "PT Sans", Arial, sans-serif;	
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: rgb(255, 255, 255);

	text-decoration: none;
	background-color: rgb(118, 99, 87)
}
.btn-search-hotel:hover {
	background-color: rgb(96 ,78, 67);
}
.btn-search-hotel:active {
	background-color: rgb(80, 62, 51);
	color: rgba(255, 255, 255, 0.3);
}
.ordering {
	position: absolute;
	z-index: 0;
	left: 25.2%;
	right: 25.2%;
	margin: 0 auto;

	width: 568px;
		
	font-weight: bold;
		
	background: rgb(255, 255, 255);
	-webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
	        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);

	-webkit-animation-name: bounce;

	        animation-name: bounce;
	-webkit-animation-duration: 0.6s;
	        animation-duration: 0.6s;
}
.ordering-show {
	display: none;
}
.invalid {
	animation: shake 0.6s;
}
@-webkit-keyframes bounce {
	0% {-webkit-transform: translateY(-100%);transform: translateY(-100%);}
	12.5% {-webkit-transform: translateY(-87.5%);transform: translateY(-87.5%);}
	25% {-webkit-transform: translateY(-75%);transform: translateY(-75%);}
	37.5% {-webkit-transform: translateY(-62.5%);transform: translateY(-62.5%);}
	50% {-webkit-transform: translateY(-50%);transform: translateY(-50%);}
	62.5% {-webkit-transform: translateY(-37.5%);transform: translateY(-37.5%);}
	75% {-webkit-transform: translateY(-25%);transform: translateY(-25%);}
	87.5% {-webkit-transform: translateY(-12.5%);transform: translateY(-12.5%);}
	100% {-webkit-transform: translateY(0%);transform: translateY(0%);}
}
@keyframes bounce {
	0% {-webkit-transform: translateY(-100%);transform: translateY(-100%);}
	12.5% {-webkit-transform: translateY(-87.5%);transform: translateY(-87.5%);}
	25% {-webkit-transform: translateY(-75%);transform: translateY(-75%);}
	37.5% {-webkit-transform: translateY(-62.5%);transform: translateY(-62.5%);}
	50% {-webkit-transform: translateY(-50%);transform: translateY(-50%);}
	62.5% {-webkit-transform: translateY(-37.5%);transform: translateY(-37.5%);}
	75% {-webkit-transform: translateY(-25%);transform: translateY(-25%);}
	87.5% {-webkit-transform: translateY(-12.5%);transform: translateY(-12.5%);}
	100% {-webkit-transform: translateY(0%);transform: translateY(0%);}
}
::-ms-clear {
  width : 0;
  height: 0;
/*убирает "х"-сброс в поле IE */
}
.check-block {
	padding-top: 35px;
	padding-bottom: 29px;
	padding-left: 54px;
}
.departure-block {
	padding-left: 57px;
}
.ordering input {
	width: 345px;
	height: 38px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 12px 10px;
	padding-right: 39px;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;

	background-color: rgb(242, 242, 242);
	border: none;
}
.date-check {
	margin-left: 3px;
}
.date-check svg {
	position: absolute;
	
	top: 63px;
	right: 63px;

	cursor: pointer;
	background: none;
	border: none;
}
.calendar-in:hover path{
	fill: rgb(0, 0, 0);
}
.calendar-in:active path {
	fill: rgb(129, 179, 210);
}
.date-departure span {
	margin-top: 10px;
	margin-left: 4px;
}
.date-departure svg {
	position: absolute;
	
	top: 130px;
	right: 63px;

	cursor: pointer;
	background: none;
	border: none;
}
.calendar-from:hover path{
	fill: rgb(0, 0, 0);
}
.calendar-from:active path {
	fill: rgb(129, 179, 210);
}
.wrapper-adult {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.wrapper-child {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.adult-block {
	width: 230px;
	position: relative;
	top: 30px;
	left: 56px;
}
.adult-block label {
	margin-right: 39px;
}
.adult-block input {
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
	width: 38px;
	height: 38px;
	margin: 0;
	padding: 0;
	
	text-align: center;

	background-color: rgb(242, 242, 242);
	border: none;
}
.child-block {
	position: relative;
	left: 336px;
	bottom: 8px;

	width: 230px;
}
.child-block label {
	margin-right: 25px;
}
.child-block input {
	width: 36px;
	margin: 0;
	padding: 0;
	padding-left: 2px;

	text-align: center;
}
.ordering input:hover {
	background-color: rgb(235, 235, 235);
}
.ordering input:focus {
	background-color: rgb(255, 255, 255);
}
/*цвет placeholdera в инпутах*/
::-webkit-input-placeholder {
	color: rgb(0, 0, 0);
}
::-moz-placeholder {
	color: rgb(0, 0, 0);
}
.date-check input {
	margin-left: 24px;
	margin-top: 20px;
}
.departure-block {
	margin-left: 1px;	
}
.date-departure input {
	margin-left: 23px;
}
.button-number:hover {
	color: rgb(0, 0, 0);
}
.button-number:active {
	color: rgb(129, 175, 210);
}
.button-minus {
	width: 40px;
	height: 38px;
	margin: 0;
	padding: 0;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: rgb(169, 169, 169);

	background-color: rgb(242, 242, 242);
	border: none;
	cursor: pointer;
}
.button-plus {
	width: 39px;
	height: 38px;
	margin: 0;
	padding: 0;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
 	color: rgb(169, 169, 169);

	background-color: rgb(242, 242, 242);
	border: none;
	cursor: pointer;
}
.button-search {
	padding: 17px 197px 15px 196px;
	margin: 45px 55px 55px 55px;

	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;

	background-color: rgb(129, 179, 210);
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	border: none;
}
.button-search:hover {
	background-color: rgb(102, 158, 192);
}
.button-search:active {
	background-color: rgb(84, 150, 189);
	color: rgba(255, 255, 255, 0.3);
}    
.map {
	width: 100%;
	height: 593px;
	background: rgb(255, 222, 172) url("../img/map.jpg") no-repeat;

	text-align: center;
	z-index: 20;
}
.map iframe {
	width: 100%;

	border: none;
}
.main-footer {
	width: 100%;
	min-height: 120px;
	bottom: 0;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	background-color: rgba(249, 251, 246, 0.9);
}
.footer-hotels {
	background: rgb(254, 254, 254);
}
.footer-index {
	position: absolute;
}
.footer-hashtag {
	width: 33.33%;
}
.footer-hashtag a {
	font-size: 21px;
	line-height: 26px;
	padding-left: 133px;

	font-weight: bold;
}
.footer-social {
	width: 33.3%;
	display: flex;
	justify-content: center;
	text-align: center;
}
.footer-social a {
	margin-left: 6px;
	margin-bottom: 2px;
}
.social-buttom {
	position: relative;
	width: 46px;
	height: 48px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	
	background-color: rgb(129, 179, 210);
}
.social-buttom:hover {
	background: rgb(102, 158, 192);
}
.social-buttom:active {
	background: rgb(84, 150, 189);
}
.tw:active path,
.fb:active path,
.yt:active path {
	opacity: 0.3;
}
.footer-copyright {
	width: 33.33%;
	margin-left: 5px;	
	display: -webkit-box;	
	display: -ms-flexbox;	
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	-webkit-box-align: center;

	    -ms-flex-align: center;

	        align-items: center;
}
.footer-copyright span {
	position: relative;
	bottom: 2px;
	left: 5px;

	font-size: 14px;
	line-height: 26px;
}
.footer-copyright a {
	position: relative;
	top: 1px;
	right: 2px;
	margin-left: 15px;

	width: 115px;
	height: 41px;
}
.footer-copyright svg:hover {
	fill: rgb(129, 179, 210);
}
.footer-copyright svg:active {
	fill: rgb(189, 187, 188);
}
/*далее стили для каталога*/
.options {
	position: relative;

	font-size: 16px;
	line-height: 21px;
	color: rgb(255, 255, 255);
	list-style-type: none;

	background: rgb(87, 100, 110) url("../img/bg-hotel.jpg") no-repeat;
	background-size: cover;
}
.options li {
	padding-left: 26px;
	padding-bottom: 29px;

	font-size: 14px;
	line-height: 21px;
}
.filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	min-height: 218px;
}
.filter h2{
	font-size: 16px;
	line-height: 21px;
}
input[type="checkbox"] + label {
	position: relative;
	padding-bottom: 18px;
	padding-left: 42px;

	cursor: pointer;
}
input[type="checkbox"] + label::before {
	content: "";
	position: absolute;
	top: 7px;
	left: -6px;

	width: 27px;
	height: 23px;

	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
}
input[type="checkbox"]:checked + label::before {
	background-image: url("../img/checkbox-on.svg");
}
input[type="checkbox"]:disabled + label::before {
	background-image: url("../img/checkbox-off-disabled.svg");
}
input[type="checkbox"]:disabled + label {
	color: rgb(106, 106, 106);
	cursor: auto;
}
input[type="checkbox"]:checked:disabled + label::before {
	background-image: url("../img/checkbox-on-disabled.svg");
}

input[type="checkbox"]:checked:disabled + label {
	color: rgb(106, 106, 106);
	cursor: auto;
}
input[type="checkbox"]:focus + label {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}
.filter fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
.filter legend {
	padding: 0;
	margin: 0;
	padding-top: 27px;
	padding-left: 73px;

	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	color: rgb(255, 255, 255);
}
.filter fieldset:nth-child(1) {
	width: 241px;
}
.filter fieldset:nth-child(2) {
	width: 288px;
	margin-left: 12px;
}
.filter fieldset:nth-child(3) {
	padding-top: 30px;
	padding-left: 258px;
}
/*Фильтр-НАЧАЛО*/
.filter-range {
	position: relative;
	width: 318px;
	bottom: 3px;
	left: 11px;
	
	color: rgb(255, 255, 255);
	text-transform: uppercase;
}
.filter-range-title {
	margin-bottom: 10px;
	margin-left: 2px;

	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}
.price-controls {
	position: relative;

	height: 32px;
	margin-bottom: 20px;

	font-size: 0;
	vertical-align: middle;
	line-height: 36;

	border: 2px solid rgb(255, 255, 255);
	border-radius: 2px;
}
.price-controls::after {
	content: "";
	position: absolute;
	top: 16%;
	left: 50.7%;

	width: 2px;
	height: 22px;

	background: rgb(255, 255, 255);
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%);
}
.price-controls label {
	padding-top: 6px;
    display: inline-block;

    font-size: 14px;
    line-height: normal;
    vertical-align: top;

    cursor: pointer;
}
.price-controls .min-price {
	width: 90px;
	padding-left: 67px;
}
.price-controls .max-price{
	width: 90px;
	padding-left: 57px;
}
.price-controls input {
	width: 50px;
	
	line-height: normal; 
	color: inherit;
	font: inherit;

	background: none;
	border: none;
	outline: none;
}
.range-controls {
	position: relative;

	margin-bottom: 32px;
} 
.range-controls .scale {
	height: 2px;

	background: rgba(255,255,255,0.3);
}
.range-controls .bar {
	width: 80%;
	height: 2px;

	background: rgb(255, 255, 255);
}
.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	background: rgb(171, 171, 171);
	border: 8px solid rgb(255, 255, 255);
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0,1,1, 0.2);
	        box-shadow: 0 2px 1px 0 rgba(0,1,1, 0.2);
	cursor: pointer;
}
.range-toggle:hover {
	background: rgb(28, 79, 128);
}
.range-toggle-min {
	left: 0;
}
.range-toggle-max {
	left: 80%;
}
.btn-trancparent {
	display: block;
	margin: 0 auto;
	padding: 5px 33px 6px 34px;
	margin-right: 95px;

	
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 21px; 
	color: rgb(255, 255, 255);
	text-transform: uppercase;

	background: transparent;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}
.btn-trancparent:hover {
	color: rgb(0, 0, 0);

	background: rgb(255, 255, 255);
}
.search-result{
	min-height: 87px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;

	-webkit-box-align: center;

	    -ms-flex-align: center;

	        align-items: center;
	background-color: rgb(255, 255, 255);	
}
.search {
	width: 230px;
	margin-left: 1px;
	padding-bottom: 4px;
	margin-right: 0px;

	font-size: 21px;
	line-height: 26px;
}
.search b {
	padding-left: 72px;
	font-weight: normal;
	font-weight: bold;
}
.search span {
	font-weight: bold;
}
.search-setting {
	width: 80%;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	-webkit-box-align: center;

	    -ms-flex-align: center;

	        align-items: center;
}
.search-setting p {
	margin-top: 0px;
	margin-bottom: 4px;
	margin-left: 4px;
	margin-right: 38px;

	font-size: 12px;
	line-height: 18px;
	font-weight: 600;
}
.search-setting li:nth-child(2) {
	margin-right: 32px;
}
.search-setting li:nth-child(3) {
	margin-right: 32px;
}
.search-setting a {
	display: block;

	font-size: 12px;
	line-height: 18px;
	font-weight: 100;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	
	color: rgba(0,0,0,0.3);

	border-bottom: 1px dotted rgb(129, 179, 210);
}
.search-setting .active {
	color: rgb(129,179,210);
	border-bottom: none;
}
.arrows .active {
	color: rgb(129,179,210);
}
.search-setting a:hover {
	color: rgb(129,179,210);
}
.search-setting a:active {
	color: rgb(0,0,0);
	border-bottom: none;
}
.arrows {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin-right: 73px;
	padding-bottom: 6px;
}
.arrows li {
	padding-left: 12px;
}
.arrows svg {
	fill: rgb(202, 202, 202);
}
.arrows svg:hover {
	fill: rgb(35, 31, 32);
}
.arrows svg:active {
	fill: rgb(129, 179, 210);
}
.options {
	height: auto;
} 
.options li,
.search-result li {
	list-style-type: none;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: -4px;
}
.text-options {
	position: relative;
	top: 8px;
	right: 4px;
}
.cost span {
	border: 2px solid rgb(255, 255, 255);
}
.cost .button {
	font-size: 14px;
	line-height: 21px;
	width: 140px;
	height: 40px; 
	color: rgb(255, 255, 255);
	border: 2px solid rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.1);
}
.cost .button:hover {
	width: 140px;
	height: 40px; 
	color: rgb(0, 0, 0);
	border: 2px solid rgb(255, 255, 255);
	background-color: rgb(255, 255, 255);
}
.result {
	background-color: rgb(255, 255, 255);
}
.hotel-item {
	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 0px;
	border-top: 1px solid rgb(229,229,229);

}
.hotel-item:last-child {	
	border-bottom: 1px solid rgb(229,229,229);
}
.picture-hotel {
	padding-top: 29px;
	padding-bottom: 22px;
	padding-left: 72px;
}
.picture-hotel img {
	max-width: 135px;
}
.name-hotel {
	display: flex;
	flex-direction: column;

	margin-left: 30px;
	margin-bottom: 0px;
}
.name-hotel h1 {
	position: relative;
	display: block;
	bottom: 4px;
	margin-top: 5px;
	margin-bottom: 0px;
	letter-spacing: 0.3px;
}
.name-of-the-hotel a {
	font-size: 21px;
	line-height: 26px;
	color: rgb(0,0,0);
}
.name-of-the-hotel a:hover {
	color: rgb(129,179,210)
}
.name-of-the-hotel a:active {
	color: rgba(0,0,0,0.3)
}
.wrapper-hotel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.read-more {
	display: block;
	width: 110px;

	text-align: center;
	font-weight: bold;
	
	color: rgb(255,255,255);
	background: rgb(129,179,210);
	
	margin-right: 8px;
	margin-top: 13px;
	margin-bottom: 0px;

}
.read-more:hover {
	background: rgb(102,158,192);
}
.read-more:active {
	background: rgb(84,150,189);
	color: rgba(255, 255, 255, 0.3)
}  
.price span:first {
	padding-top: 100px;
}
.book {
	display: block;
	width: 142px;
	margin-top: 13px;
	margin-bottom: 12px;

	color: rgb(255, 255, 255);
	text-align: center;

	background: rgb(118, 99, 87);
}
.book:hover {
	background: rgb(96, 78, 67);
}
.book:active {
	background: rgb(80, 62, 51);
	color: rgba(255, 255, 255, 0.3);
}
.rating {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	height: 100px;
	margin-left: 522px;
	margin-top: 12px;

}
.rating p {
	display: block;
	width: 110px;
	height: 27px;
	margin-bottom: 13px;
	
	background: rgb(242, 242, 242);
	text-align: center;
}
.rating b {
	position: relative;
	height: 17px;
	margin-left: 72px;

	font-size: 0;
	line-height: 0;

	background: url("../img/star.svg") space;
}
.rating .star-5 {
	width: 89px;
	top: -4px;
	right: 51px;
}
.rating .star-3 {
	width: 64px;
	top: -3px;
	right: 26px;
}
.rating .star-2 {
	width: 40px;
	background-position: -10%;
	top: -2px;
	right: 2px;
}